Logs
obj
Temp
UserSettings
.idea
Library
*..csproj
*.csproj
proj.unity/CookingTown/Packages/packages-lock.json
proj.unity/CookingTown/CookingTown.sln
proj.unity/CookingTown/Assets/EXCEL_CONTENT_DATA.json
proj.unity/CookingTown/Assets/EXCEL_CONTENT_DATA.json.meta
proj.unity/CookingTown/Assets/EXCEL_WINDOW_CONFIG.json
proj.unity/CookingTown/Assets/EXCEL_WINDOW_CONFIG.json.meta
proj.unity/CookingTown/Assets/Samples/
proj.unity/CookingTown/Assets/Samples.meta
proj.unity/CookingTown/Assets/Game/CookingTown/Scripts/Main/Editor/Copyright.cs.meta
proj.unity/CookingTown/Assets/Game/CookingTown/Scripts/Main/Editor/Copyright.cs
proj.unity/CookingTown/Assets/Game/CookingTown/Scripts/Main/Editor.meta
proj.unity/CookingTown/AssetBundles/Android/AssetBundle/
proj.unity/CookingTown/Assets/PersistentAssets/AssetBundle/
proj.unity/CookingTown/Assets/StreamingAssets/
proj.unity/CookingTown/Assets/PersistentAssets/AssetBundle.meta
proj.unity/CookingTown/Assets/PersistentAssets.meta
proj.android/launcher/
proj.android/unityLibrary/
proj.android/gradle/
proj.unity/CookingTown/ProjectSettings/GvhProjectSettings.xml
proj.unity/CookingTown/Assets/Resources/AssetLoadRecordAsset.asset
proj.unity/CookingTown/AssetBundles/
